<app-nav-bar-provider></app-nav-bar-provider>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="mt-4 mx-auto">
            <div class="card text-white bg-dark mb-3" style="width: 28rem;">
                <div class="card-header">
                    Perfil
                </div>
                <label class="mx-auto" for="photo-input">
                    <img [src]="getAvatarUrl()" class="mx-auto user mt-2" alt="FotoIcon"/>
                </label>
                <input style="display:none;" id="photo-input" (change)="handleFileInput($event.target.files)" type="file" />
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Nombre</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.name}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p class="card-text">NIT</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.NIT}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p class="card-text">Teléfono</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.phone}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p class="card-text">Correo</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.email}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <p class="card-text">Servicios</p>
                            </div>
                            <div class="col">
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="useLastTecDate" name="useLastTecDate" [(ngModel)]="provider.services.RevTec.has" (ngModelChange)="editService(serviceTypes.TecnoMecanica)">
                                    <label class="custom-control-label" for="useLastTecDate">Revision Tecnomecanica</label>
                                </div>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.services.RevTec.description}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Mant5k" name="Mant5k" [(ngModel)]="provider.services.Rev5k.has" (ngModelChange)="editService(serviceTypes.Kilometer)">
                                    <label class="custom-control-label" for="Mant5k">Mantenimiento 5k</label>
                                </div>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.services.Rev5k.description}}</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="SOAT" name="SOAT" [(ngModel)]="provider.services.Soat.has" (ngModelChange)="editService(serviceTypes.SOAT)">
                                    <label class="custom-control-label" for="SOAT">SOAT</label>
                                </div>
                            </div>
                            <div class="col">
                                <p class="card-text">{{provider.services.Soat.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
