<div class="modal-content bg-dark">
    <h2>Proveedores:</h2>
    <h4 *ngIf="providers.length == 0"> No hay proveedores que mostrar</h4>
    <div *ngFor="let provider of providers">
        <img [src]="getImgSrc(provider)">
        <div class="modal-header text-white bg-dark">
            <h4 class="modal-title">{{provider.name}}</h4>
        </div>
        <div class="modal-body text-white bg-dark">
            <p>Descripcion: {{getDescription(provider)}}</p>
            <p>Email: {{provider.email}}</p>
            <p>Telefono: {{provider.phone}}</p>
        </div>
    </div>
</div>
