<app-navbar></app-navbar>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 p-3 text-white">
    <label *ngIf="cars.length == 0">No tiene carros registrados</label>
    <div class="col mb-4" *ngFor="let car of cars">
            
          
    <div class="logser bg-secundary mb-3 " >
        <label for="{{car.license_plate}}">
            <img [src]="getCarImage(car.picture)" class="card-img-top" alt="car image"/>
        </label>
        <input style="display:none;" id="{{car.license_plate}}" (change)="handleFileInput($event.target.files, car)" type="file" />
        <div class="card-body">
            <h5 class="card-title">{{car.trade_mark}} {{car.reference}} Modelo {{car.model}}</h5>
            <p class="card-text">Kilometraje: {{car.currentKilometer}}</p>
            <p class="card-text">Placa: {{car.license_plate}}</p>
            <p *ngIf="car.lastTecDate" class="card-text"><small class="text-muted">Última tecnicomecanica: {{car.lastTecDate | date: 'longDate'}}</small></p>
            <p *ngIf="car.lastSoatDate" class="card-text"><small class="text-muted">Soat: {{car.lastSoatDate | date: 'longDate'}}</small></p>
            <p *ngIf="car.last5krev" class="card-text"><small class="text-muted">Última revisión de 5K: {{car.last5krev | date: 'longDate'}}</small></p>
            <button class="btn btn-danger btn-block" (click)="delCar(car)" >Borrar Carro</button>
        
        </div>
    </div>
</div>
</div>
<button class="btn btn-light btn-block" routerLink="/create-car">Añadir Carro</button>
</div>