<app-navbar></app-navbar>

<div class="card-deck p-3">
    <label *ngIf="cars.length == 0">No tiene carros regisrados</label>
    <div class="card" *ngFor="let car of cars">
        <img [src]="getCarImage(car.picture)" class="card-img-top" alt="car image">
        <div class="card-body">
            <h5 class="card-title">{{car.trade_mark}} {{car.reference}} Modelo {{car.model}}</h5>
            <p class="card-text">Kilometraje: {{car.currentKilometer}}</p>
            <p class="card-text">Placa: {{car.license_plate}}</p>
            <p *ngIf="car.lastTecDate" class="card-text"><small class="text-muted">Última tecnicomecanica: {{car.lastTecDate | date: 'longDate'}}</small></p>
            <p *ngIf="car.lastSoatDate" class="card-text"><small class="text-muted">Soat: {{car.lastSoatDate | date: 'longDate'}}</small></p>
            <p *ngIf="car.last5krev" class="card-text"><small class="text-muted">Última revisión de 5K: {{car.last5krev | date: 'longDate'}}</small></p>
            <label>Cambiar Foto</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files, car)" class="btn btn-dark">
        </div>
    </div>
    <button class="btn btn-dark" routerLink="/create-car">añadir carro</button>
</div>
