<div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="mt-4 mx-auto">
                <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                        <div class="card-header">Registro</div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Nombre: </label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="registerInfo.name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico: </label>
                            <input type="text" class="form-control" id="email" [(ngModel)]="registerInfo.email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="ID">Número de Identificación: </label>
                            <input type="number" class="form-control" id="ID" [(ngModel)]="registerInfo.ID" name="ID" required>
                            </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" [(ngModel)]="registerInfo.password" name="password" required>
                        </div>
                           <button type="submit" class="btn btn-secondary btn-block" [disabled]="!registerForm.form.valid || sending">Registrar</button> 
                        </div>
                        <div class="alert alert-danger ml-3 mr-3" role="alert" *ngIf="errorRegister">
                                {{message}}
                              </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
