/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('https://www.tokkoro.com/picsup/2957180-car-interior-light-trails-night___mixed-wallpapers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}