
  
  .label_home {
  
    
    background-image: url("https://www.tokkoro.com/picsup/2957180-car-interior-light-trails-night___mixed-wallpapers.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      
     
  
  }
  
  
  
  .barra {
  
    width: 400px;
    height: 700px;
    display: flex;
    
    padding: 70px 65px;
    border-radius: 100px;
    box-shadow: 0px 20px 200px rgb(82, 26, 26);
    opacity: 0.91;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    
    
    
  }
  
  
  
  form {
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  
  h1 {
  
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   
  }
  
  
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: rgb(201, 172, 172);
    font-weight: lighter;
  }
  
  
  
  input {
  
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  
  }
  
  
  
  input:placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  
  }
  
  
  .mensaje_error {
    color: rgb(185, 99, 99);
    font-size: 0.75em;
    display: relative;
  }
  
  
  .email,
  .password,.nombre,.ident {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .email,
  .password,.nombre, .ident {
    width: 100%;
  }
  
  .ingresar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
 
  
  .alertas button, .perfil button, .miauto button, .regauto  button, .proveedores button {
  
    background-color: #240707;
    color: rgb(187, 187, 192);
    border: 1px solid rgb(143, 52, 52);
    width: 30pc;
    height: 8pc;
    margin-top: 0.7em;
    padding: 30px 180px;
    font-size: 1.02em;
    font-weight: 900;
    font-variant: small-caps;
    letter-spacing: 1.2px;
    margin-bottom: 0.25em;
    border-radius: 40px;
    font-family: verdana;
   
       
  }

  .alertas button:hover, .perfil button:hover,.regauto button:hover,.miauto button:hover, .proveedores button:hover{

    color: #141212;
    background-color: #8a8083;
  }

    .centrado {
      text-align: center;
    }
  
    .Sonnet {
      text-align: center;
    }
  
  .ingresar button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  
  }
  
  
  
  .ingresar small {
    color: #999;
    font-weight: lighter;
  }

  ul.list-group{
    
    margin-left: 70px;
    
  }
 

  .botones {
    background-color: #240707;
    color: rgb(187, 187, 192);
    border: 1px solid rgb(143, 52, 52);
    width: 20px;
    height: 30px;
    margin-top: 0.7em;
    padding: 30px 180px;
    font-size: 1em;
    font-weight: 900;
    font-variant: small-caps;
    letter-spacing: 0.2px;
    margin-bottom: 0.25em;
    border-radius: 40px;
    font-family: verdana;
    font-variant-position: super;
    position: static;
    
  }

  .list-group-tabs-example{

    margin-left: 50px;

  }

   
  .user_reg {
    background-color: rgb(58, 3, 3); 
    border: 1px solid #fff;
    color: rgb(250, 236, 236);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-block-end: 8px;
  }

  .formulario {
  
    width: 400px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 20px 200px rgb(112, 169, 184);
    opacity: 0.91;
    background-color: #080114;
    justify-content: center;
    align-items: center;
    
  }