<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="accordion" id="accordionExample">
        <div class="card text-white bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Revisión Tecnomecanica: (Numero)
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media ">
                          <img class="user align-self-center mr-3" src="https://pbs.twimg.com/profile_images/1525602057/james_400x400.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">Nombre de empresa</h5>
                            <div class="row">
                                <div class="col-3">Descripción</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Email</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Teléfono</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card text-white bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Revisión Tecnomecanica: (Numero)
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media ">
                          <img class="user align-self-center mr-3" src="https://pbs.twimg.com/profile_images/1525602057/james_400x400.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">Nombre de empresa</h5>
                            <div class="row">
                                <div class="col-3">Descripción</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Email</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Teléfono</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card text-white bg-dark">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Revisión Tecnomecanica: (Numero)
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media ">
                          <img class="user align-self-center mr-3" src="https://pbs.twimg.com/profile_images/1525602057/james_400x400.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">Nombre de empresa</h5>
                            <div class="row">
                                <div class="col-3">Descripción</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Email</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                            <div class="row">
                                <div class="col-3">Teléfono</div>
                                <div class="col">descripcion op del servicio</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
