<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="accordion" id="accordionExample">
        <div class="logser text-white ">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Revisión Tecnomecanica ({{providersTecno.length}})
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media mt-4" *ngFor="let soa of providersTecno">
                            <img class="user align-self-center mr-3" [src]="getAvatarUrl(soa)" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0 mb-1">{{soa.name}}</h5>
                              <div class="row">
                                Descripción: {{soa.services.RevTec.description}} 
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                Email: {{soa.email}}
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  Teléfono: {{soa.phone}}
                                  <div class="col"></div>
                              </div>
                            </div>
                          </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="logser text-white ">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Mantenimiento 5k ({{providers5k.length}})
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media mt-4" *ngFor="let soa of providers5k">
                            <img class="user align-self-center mr-3" [src]="getAvatarUrl(soa)" alt="Generic placeholder image">
                            <div class="media-body">
                              <h5 class="mt-0 mb-1">{{soa.name}}</h5>
                              <div class="row">
                                  Descripción: {{soa.services.Rev5k.description}}
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  Email: {{soa.email}}
                                  <div class="col"></div>
                              </div>
                              <div class="row">
                                  Teléfono: {{soa.phone}} 
                                  <div class="col"></div>
                              </div>
                            </div>
                          </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="logser text-white">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      SOAT ({{providersSoat.length}})
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="media mt-4" *ngFor="let soa of providersSoat">
                          <img class="user align-self-center mr-3" [src]="getAvatarUrl(soa)" alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0 mb-1">{{soa.name}}</h5>
                            <div class="row">
                                Descripción    : {{soa.services.Soat.description}}.
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                Email    : {{soa.email}} 
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                Teléfono    : {{soa.phone}}
                                <div class="col"></div>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>


<footer class="footer">
      
    <div class="ff1" style="width auto; height auto;">
  
        <div class="card-body text-dark">
    
             <h2 align="center">Mail de contacto: <a href="mailto:carapp-soporte@gmail.com">
               carapp-soporte@gmail.com</a>.</h2>

            <h2 align="center">Llámenos:
               3183815364
           </h2>
           <h2 align="center">
            <img src= "assets/log-carapp.png" height="60" width="160" >
            </h2>
              
        </div>
    </div>
 </footer>