<app-navbar></app-navbar>

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="mt-4 mx-auto">
            <div class="logser text-white mb-3" style="width: 28rem;">
                <div class="logser-header">
                    
                   
                </div>
                <label class="mx-auto" for="photo-input">
                        <img [src]="getAvatarUrl()" class=" user" />
                    </label>
                    <input style="display:none;" id="photo-input" (change)="handleFileInput($event.target.files)" type="file" />
                    
              <div class="logser-body">
                
                    <div class="container">
                        
                            <div class="col">
                            <div class ="dat">
                                <p class="card-text">Nombre:     {{user.name}}</p>
                                </div>
                            
                        </div>
                        
                            <div class="col">
                            <div class ="dat">
                                <p class="card-text">Número de identificación: {{user.identification}}</p>
                            </div>
                         
                        </div>
                        
                            <div class="col">
                                <div class ="dat">
                                <p class="card-text">Correo: {{user.email}}</p>
   
                            </div>

                             <button type="submit" class="btn btn-secondary btn-block" >Modificar</button>
                             
                           
                        </div>

                </div>

                </div>
            </div>

        </div>
    </div>
</div>