<app-navbar></app-navbar>


<div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="mt-4 mx-auto">
                    <div class="card text-white bg-dark mb-3" style="width: 28rem;">
                        <div class="card-header">
                                Perfil
                        </div>
                        
                        <img [src]="getAvatarUrl()"  class="card-img-top user" alt="FotoIcon">
                        <div class="card-body">
                            
                            <p class="card-text">Nombre: {{user.name}}</p>
                            <p class="card-text">Identificacion: {{user.identification}}</p>
                            <p class="card-text">Correo: {{user.email}}</p>
                            
    
                            <button type="submit" class="btn btn-secondary" >Modificar</button>
                            <div class="btn btn-secondary btn-sm float-left">
                                    <span>Choose file</span>
                                    <input type="file" 
                                    (change)="handleFileInput($event.target.files)">
                                  </div>

                            
                        </div>
                    </div>
        
            </div>
        </div>
    </div>


    <div class="card-body">
        <!-- <button type="button" class="btn btn-dark">Modificar</button> -->
        <label>Cambiar Foto</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="btn btn-dark">
        <button class="btn btn-dark" (click)="logOut()">Cerrar sesión</button>
    </div>